body {
    font-family: 'Play', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}
.advantage-header {
    text-align: center;
    margin: 0 auto;
    max-width: 593px;
    padding-top: 97px;
    padding-bottom: 62px;
}
.advantage h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 18px;
}
.advantage p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.advantage ul {
    display: flex;
    justify-content: space-around;
}
.advantage li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantage li:last-child {
    padding-right: 0;
}
.advantage .icon {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
	height: 128px;
	background: #f2f5f4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    position: relative;
}
.advantage .battery::before {
    content: '';
    display: block;
    width: 60px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -10px -10px;
    position: absolute;
}
.advantage .sound::before {
    content: '';
    display: block;
    width: 53px;
	height: 47px;
    background: url('../assets/images/sprites-advantage.png')  -10px -90px;
    position: absolute;
}
.advantage .clock::before {
    content: '';
    display: block;
    width: 58px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -90px -10px;
    position: absolute;
}
.advantage h3 {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 7px;
}
.advantage article {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    max-width: 250px;
    padding-bottom: 98px;
}

.advantage .circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.advantage .circle-small {
    width: 10px;
	height: 10px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.advantage .circle-big {
    width: 20px;
	height: 20px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 0 5px 0 5px;
}