.edge-buying {
    background-color: #f8faf9;
    
    .arrows {
        display: flex;
        align-items: center;

        @include tablets {
          position: relative;
        }

          .arrows_prev {
            @include tablets {
              position: absolute;
              left: rem(80px);
              top: rem(170px);
          }
            @include phones {
              left: rem(5px);
            }
        }
          .arrows_next {
            @include tablets {
              position: absolute;
              right: rem(80px);
              top: rem(170px);
          } 

            @include phones {
              right: rem(-10px);
            }
        }
        .buying-sprite {
            display: flex;
            justify-content: flex-end;
            height: rem(40px);
            width: rem(27px);
        }
    }
  }
  
  .buying {
    ul {
      display: flex;

      @include tablets {
        flex-direction: column;
      }
    }
  
    .picture {
      display: flex;
      align-items: center;
      padding-right: rem(57px);
      padding-left: rem(31px);

      @include tablets {
        padding-right: rem(57px);
        padding-left: rem(57px);
        justify-content: center;
      }

      img {
        @include tablets {
          width: rem(306px);
          height: rem(306px);
        }
      } 
    }
  
    .square {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #9a9a9a;
      height: rem(91px);
      width: rem(91px);
      border-radius: rem(4px);
  
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: rem(42px);
        width: rem(42px);
        background: url(../assets/images/gear.png) no-repeat;
      }
    }
    .buying-main {
        position: relative;
        display: flex;
        width: rem(91px);

        @include tablets {
          display: none;
        }
    
        &:hover .dropdown {
            opacity: 1;
            left: rem(91px);
        }

        .dropdown {
            left: rem(-9999px);
            position: absolute;
            background: #fff;
            border-radius: rem(4px);
            opacity: 0;
            transition: opacity .4s;

            ul {
                display: flex;
                flex-direction: column;
                padding: rem(28px) rem(25px) rem(34px) rem(30px);

                li {
                    display: flex;
                    justify-content: space-between;
                    color: #000;
                    padding-bottom: rem(28px);
                    align-items: center;
                    
                    &:last-child {
                        padding-bottom: 0;
                    }
                    

                    .dropdown-name {
                        display: flex;
                        align-items: center;
                    }

                        .buying-dropmain {
                            height: rem(25px);
                            width: rem(24px);
                        }
                        p {
                            padding-left: rem(16px);
                            width: rem(127px);
                            padding-right: rem(10px);
                        }
                    span {
                        text-align: right;
                    }
                }
            }
        }
    }
  
    h2 {
      text-transform: uppercase;
      font-size: rem(36px);
      font-weight: 700;
      color: #292929;
      padding-bottom: rem(24px);
      padding-top: rem(25px);
      letter-spacing: 0;

      @include tablets {
        font-size: rem(27px);
        text-align: center;
      }
    }
  
    article {
      font-size: rem(16px);
      font-weight: 400;
      color: #666;
      padding-bottom: rem(30px);
      padding-right: rem(20px);

      @include tablets {
        font-size: rem(15px);
        padding-right: 0;
        text-align: center;
      }
    }
  
    .outline {
      @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      

      li {
        padding-right: rem(86px);
  
        &:last-child {
          padding-right: 0;
        }
      }
  
      title {
        font-size: rem(16px);
        font-weight: 400;
        color: #666;
      }
  
      .value {
        font-size: rem(18px);
        font-weight: 700;
        color: #000;
        padding-top: rem(4px);
      }
    }
  
    .total {
      padding-top: rem(24px);
      padding-bottom: rem(124px);

      @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
  
      li {
        display: flex;
        align-items: center;
      }
  
      .amount {
        text-transform: uppercase;
        font-size: rem(36px);
        font-weight: 400;
        color: #151515;
        padding-right: rem(22px);
      }
  
      a {
        font-size: rem(18px);
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        padding: rem(18px) rem(36px);
        border-radius: rem(100px);
        background-color: #e01f3d;
      }
    }
  }