.edge-buying {
  background-color: #f8faf9;
}

.buying ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buying .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 57px;
  padding-left: 31px;
}
.buying .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #9a9a9a;
  height: 91px;
  width: 91px;
  border-radius: 4px;
  margin-top: 66px;
  margin-bottom: 25px;
}
.buying .square::before {
  content: "";
  display: block;
  position: absolute;
  height: 42px;
  width: 42px;
  background: url(../assets/images/gear.png) no-repeat;
}
.buying h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  padding-bottom: 24px;
  letter-spacing: 0;
}
.buying article {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  padding-bottom: 30px;
  padding-right: 20px;
}
.buying .outline li {
  padding-right: 86px;
}
.buying .outline li:last-child {
  padding-right: 0;
}
.buying .outline title {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.buying .outline .value {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-top: 4px;
}
.buying .total {
  padding-top: 24px;
  padding-bottom: 124px;
}
.buying .total li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buying .total .amount {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  color: #151515;
  padding-right: 22px;
}
.buying .total a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 36px;
  border-radius: 100px;
  background-color: #e01f3d;
}