body {
    font-family: 'Play', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}
.edge-delivery {
    background: #181818;
}
.delivery h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 58px;
    padding-top: 68px;
}
.delivery .delivery-form {
    display: flex;
}
.delivery .fio {
    flex: 1;
}
.delivery .comment {
    flex: 1;
}
.delivery .fio .name {
    display: flex;
    padding-bottom: 11px;
}
.delivery .fio .name .blank {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 17px;
}
.delivery .fio .name .blank:last-child {
    padding-right: 0;
}
.delivery .fio p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .fio .form-fow {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 18px 0 18px 12px;
}
.delivery .fio .street {
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;
}
/* .delivery .fio .home {
    display: flex;
} */
.delivery .fio .home .blank {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 17px;
}
.delivery .fio .home .blank:last-child {
    padding-right: 0;
}
.delivery .comment {
    display: flex;
    flex-direction: column;
    padding-left: 27px;
}
.delivery .comment div {
    display: flex;
}
.delivery .comment p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .comment textarea {
    padding: 18px 0 18px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: 152px;
}
.delivery .comment .pay {
    display: flex;
    padding-top: 38px;
    padding-bottom: 19px;
}
.delivery .comment .pay p {
    padding-left: 10px;
    padding-right: 16px;
}
.delivery .comment .call {
    display: flex;
    padding-bottom: 48px;
}
.delivery .comment .call p {
    padding-left: 10px;
}
.delivery .comment .active-btn {
    display: flex;
    align-items: center;
    padding-bottom: 85px;
}
.delivery .comment .btn {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 41px;
    border-radius: 100px;
    background-color: #e01f3d;
}
.delivery .comment .clear {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-left: 15px;
}