body {
    font-family: 'Play', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}
footer {
    display: flex;
}
footer div div {
    padding-bottom: 18px;
}
footer address {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 3px;
}
footer a {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
}



footer nav li {
    display: inline-block;
    
}
footer .icon {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
footer .icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    transition: .3s;
}
footer .icon:hover:after {
    opacity: 0;
}
footer .telegram:after {
    background: url('../assets/images/sprites-footer.png')  -122px -66px;
}
footer .vk:after {
    background: url('../assets/images/sprites-footer.png')  -10px -122px;
}
footer .facebook:after {
    background: url('../assets/images/sprites-footer.png')  -10px -10px;
}
footer .instagram:after {
    background: url('../assets/images/sprites-footer.png')  -10px -66px;
}
footer .icon:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
footer .icon:hover:before {
    opacity: 1;
}
footer .telegram:before {
    background: url('../assets/images/sprites-footer.png')  -122px -10px;
}
footer .vk:before {
    background: url('../assets/images/sprites-footer.png')  -66px -122px;
}
footer .facebook:before {
    background: url('../assets/images/sprites-footer.png')  -66px -10px;
}
footer .instagram:before {
    background: url('../assets/images/sprites-footer.png')  -66px -66px;
}