footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;

    @include phones {
      flex-direction: column;
    }
  
    .footer-content {
      margin-left: rem(86px);

      @include phones {
        margin-left: 0;
        text-align: center;
      }

      div {
        padding-bottom: rem(18px);
      }
    }
  
    address {
      font-size: rem(18px);
      font-weight: 400;
      color: #292929;
      font-style: normal;
      padding-top: rem(20px);
      padding-bottom: rem(3px);

      @include phones {
        padding-bottom: rem(12px);
      }
    }
  
    a {
      font-size: rem(18px);
      font-weight: 400;
      color: #292929;
    }

  .footer-sprite {
      display: flex;
      
      margin-right: rem(54px);
      @include phones {
        margin-right: 0;
      }
    nav ul {
      display: flex;
      justify-content: center;

      @include tablets {
        display: flex;
      }
    }
      nav li {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .icon-sprite {
            fill: #b3b3b3;
            
            &:hover {
              fill: #000;
            }
          }
        }
      }
    }
  }