.fullscreen-menu_container {
    background: #313131;
}
.fullscreen-menu {
    margin: 0 auto;
    width: 95%;
    max-width: rem(724px);
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 40.75rem;
    
    .cross {
        position: absolute;
        top: rem(50px);
        right: rem(18px);
        width: rem(20px);
        height: rem(20px);
    }

    li {
        text-align: center;
        padding-bottom: rem(20px);
        
        a {
            color: #fff;
            font-size: rem(36px);
            font-weight: 400;
        }
    }
}