.fullscreen-menu_container {
    background: #313131;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;

    &.active {
        z-index: 1000;
        opacity: 1;
    }
}
.fullscreen-menu {
    margin: 0 auto;
    width: 95%;
    max-width: rem(724px);
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 40.75rem;
    display: flex;
    
    .cross {
        position: absolute;
        top: 50px;
        right: 18px;
        width: 20px;
        height: 20px;
    }

    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        text-align: center;
        padding-bottom: 20px;
        
        a {
            color: #fff;
            font-size: 36px;
            font-weight: 400;
        }
    }
}