.hamburger {
    width: rem(29px);
    height: rem(26px);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    position: relative;
    

    @include tablets {
        display: inline-flex;
    }

    & span {
        display: block;
        background: $black;
        height: rem(4px);
        border-radius: rem(10px);
    }
}