body {
    font-family: 'Play', sans-serif;
}
.wrapper {
    margin: 0 auto;
    border: 1px solid black;
}
section {
    display: flex;
    height: 100vh;
    min-height: 652px;
}
.edge-header {
    background-color: #f5f5f5;
}
.container {
    border: 1px solid pink;
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    padding-top: 24px;
}
header div:nth-child(2) {
    flex: 7;
}
header div:nth-child(3) {
    flex: 2;
}
header .logo {
    padding-right: 38px;
}
header nav li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 24px;
}
header nav a {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    font-family: 'Alegreya Sans', sans-serif;
}
header address img {
    padding-left: 17px;
    padding-right: 2px;
    max-width: 100%;
}
header address a {
    color: #292929;
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-weight: 400;
}
.content {
    position: relative;
}
.content h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 85px;
    padding-bottom: 16px;
    padding-right: 500px;
    color: #292929;
}
.content p {
    font-size: 21px;
    font-weight: 400;
    color: #292929;
    padding-bottom: 53px;
    padding-right: 600px;
    font-family: 'Alegreya Sans', sans-serif;
}
.content a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 36px;
    border-radius: 100px;
    background-color: #e01f3d;
}
.content::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/headphone.png');
    background-repeat: no-repeat;
    top: 40px;
    left: 431px;
    height: 489px;
    width: 489px;
}
.description {
    display: flex;
    align-items: center;
    margin-top: 87px;
    padding-bottom: 70px;
}
.description .ear {
    height: 41px;
    width: 145px;
    margin-right: 29px;
}
.description .ear::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -10px -10px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    max-width: 100%;
}
.description .battery {
    height: 41px;
    width: 145px;
    margin-right: 38px;
}
.description .battery::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -71px -10px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    max-width: 100%;
}
.description .plug {
    height: 41px;
    width: 145px;
    margin-right: 20px;
}
.description .plug::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -10px -71px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
    max-width: 100%;
}
.description p {
    margin-left: 47px;
}
.container-center {
    display: flex;
    justify-content: center;
}
.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advantage-header {
    text-align: center;
    margin: 0 auto;
    max-width: 593px;
}
.advantage h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 18px;
}
.advantage p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding-bottom: 62px;
}
.advantage ul {
    display: flex;
    justify-content: space-between;
}
.advantage li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantage li:last-child {
    padding-right: 0;
}
.advantage .icon {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
	height: 128px;
	background: #f2f5f4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    position: relative;
}
.advantage .battery::before {
    content: '';
    display: block;
    width: 60px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -10px -10px;
    position: absolute;
    max-width: 100%;
}
.advantage .sound::before {
    content: '';
    display: block;
    width: 53px;
	height: 47px;
    background: url('../assets/images/sprites-advantage.png')  -10px -90px;
    position: absolute;
    max-width: 100%;
}
.advantage .clock::before {
    content: '';
    display: block;
    width: 58px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -90px -10px;
    position: absolute;
    max-width: 100%;
}
.advantage h3 {
    font-size: 24px;
    font-weight: 700;
    color: #292929;
    padding-top: 24px;
    padding-bottom: 7px;
}
.advantage article {
    font-size: 16px;
    font-weight: 400;
    color: #666;  
    padding: 0 12px 0 12px;
}
.advantage .circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.advantage .circle-small {
    width: 10px;
	height: 10px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.advantage .circle-big {
    width: 20px;
	height: 20px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 0 5px 0 5px;
}
.advantage .card {
    display: flex;
    flex: 1;
}
.review h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 32px;
    font-size: 48px;
    font-weight: 700;
    color: #292929;
}
.review ul {
    display: flex;
    background-color: #F8FAF9;
    margin-bottom: 15px;
}
.review li {
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review li:nth-child(1) {
    padding-right: 0;
}
.review h3 {
    font-size: 24px;
    font-weight: 700;
    color: #292929;
}
.review article {
    padding-top: 27px;
    padding-bottom: 38px;
    padding-right: 100px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.review p {
    font-size: 18px;
    font-weight: 700;
    color: #292929;
}
.review .clicker {
    display: flex;
    justify-content: center;
}
.review .users img {
    height: 74px;
    width: 74px;
    border-radius: 50px;
    margin-right: 6px;
}
.edge-delivery {
    background: url(../assets/images/form-background.png) no-repeat;
    background-size: cover;
}
.delivery h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.delivery .delivery-form {
    display: flex;
}
.delivery-form__row {
    display: flex;
}
.delivery-form__label {
    flex: 1;
    margin-right: 17px;
}
.delivery-form__label:last-child {
    margin-right: 0;
}
.delivery-form__input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 18px 0 18px 12px;
    border-radius: 4px;
}
.delivery-form__col {
    flex: 1;
    margin-right: 27px;
}
.delivery-form__col:last-child {
    margin-right: 0;
}
.delivery-form__name {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 6px;
    padding-top: 11px;
}
.delivery .pay {
    display: flex;
    padding-top: 38px;
    padding-bottom: 19px;
}
.delivery .pay p {
    padding-left: 10px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .call {
    display: flex;
    padding-bottom: 48px;
}
.delivery .call p {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .active-btn {
    display: flex;
    align-items: center;
}
.delivery .btn {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 35px;
    border-radius: 100px;
    background-color: #e01f3d;
    border: none;
    cursor: pointer;
}
.delivery .clear {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-left: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}