@media (max-width: 992px) {
    html {
      font-size: 14px;
    }
  
    .container {
      max-width: 700px;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 13px;
    }
  
    .container {
      max-width: 450px;
    }
  
    .review {
      ul {
        flex-direction: column;
        margin-bottom: 32px !important;
      }
  
      li {
        padding: 0 !important;
        align-items: center;
      }
  
      ul img {
        height: 130px;
        width: 130px;
        margin-top: 56px;
        margin-bottom: 32px;
      }
  
      h3 {
        font-size: 24px !important;
      }
  
      article {
        text-align: center;
        padding-right: 0 !important;
        margin: 0 24px 0 24px;
        font-size: 16px !important;
      }
  
      p {
        padding-bottom: 30px;
        font-size: 16px !important;
      }
    }
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 12px;
    }
  
    .review {
      ul {
        margin-bottom: 44px !important;
      }
  
      h1 {
        font-style: 32px;
      }
  
      ul img {
        margin-bottom: 21px;
      }
  
      article {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        margin: 0 37px 0 37px;
      }
  
      p {
        font-size: 18px !important;
        padding: 0 0 20px 0;
      }
    }
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Play', sans-serif;
  }
  
  .wrapper {
    margin: 0 auto;
    border: 1px solid black;
    min-width: 0px;
  }
  
  section {
    display: flex;
    height: 100vh;
    min-height: 652px;
  }
  
  .edge-header {
    background-color: #f5f5f5;
  }
  
  .container {
    /* border: 1px solid pink; */
    margin: 0 auto;
    max-width: 940px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    align-items: center;
    padding-top: 24px;
  
    div {
      &:nth-child(2) {
        flex: 7;
      }
  
      &:nth-child(3) {
        flex: 2;
      }
    }
  
    .logo {
      padding-right: 38px;
    }
  
    nav {
      li {
        display: inline-block;
        vertical-align: middle;
        padding-right: 24px;
      }
  
      a {
        font-size: 18px;
        font-weight: 400;
        color: #292929;
        font-family: 'Alegreya Sans', sans-serif;
      }
    }
  
    address {
      img {
        padding-left: 17px;
        padding-right: 2px;
        max-width: 100%;
      }
  
      a {
        color: #292929;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  
  .content {
    position: relative;
  
    h1 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 85px;
      padding-bottom: 16px;
      padding-right: 500px;
      color: #292929;
    }
  
    p {
      font-size: 21px;
      font-weight: 400;
      color: #292929;
      padding-bottom: 53px;
      padding-right: 600px;
      font-family: 'Alegreya Sans', sans-serif;
    }
  
    a {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 16px 36px;
      border-radius: 100px;
      background-color: #e01f3d;
    }
  
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      background: url('../assets/images/headphone.png');
      background-repeat: no-repeat;
      top: 40px;
      left: 431px;
      height: 489px;
      width: 489px;
    }
  }
  
  .description {
    display: flex;
    align-items: center;
    margin-top: 87px;
    padding-bottom: 70px;
  
    .ear {
      height: 41px;
      width: 145px;
      margin-right: 29px;
  
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background: url('../assets/images/sprites-header.png') -10px -10px;
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        max-width: 100%;
      }
    }
  
    .battery {
      height: 41px;
      width: 145px;
      margin-right: 38px;
  
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background: url('../assets/images/sprites-header.png') -71px -10px;
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        max-width: 100%;
      }
    }
  
    .plug {
      height: 41px;
      width: 145px;
      margin-right: 20px;
  
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background: url('../assets/images/sprites-header.png') -10px -71px;
        background-repeat: no-repeat;
        height: 41px;
        width: 41px;
        max-width: 100%;
      }
    }
  
    p {
      margin-left: 47px;
    }
  }
  
  .container-center {
    display: flex;
    justify-content: center;
  }
  
  .advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .advantage-header {
    text-align: center;
    margin: 0 auto;
    max-width: 593px;
  }
  
  .advantage {
    h1 {
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 700;
      color: #292929;
      padding-bottom: 18px;
    }
  
    p {
      font-size: 16px;
      font-weight: 400;
      color: #666;
      padding-bottom: 62px;
    }
  
    ul {
      display: flex;
      justify-content: space-between;
    }
  
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      &:last-child {
        padding-right: 0;
      }
    }
  
    .icon {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 128px;
      background: #f2f5f4;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50%;
      position: relative;
    }
  
    .battery::before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background: url('../assets/images/sprites-advantage.png') -10px -10px;
      position: absolute;
      max-width: 100%;
    }
  
    .sound::before {
      content: '';
      display: block;
      width: 53px;
      height: 47px;
      background: url('../assets/images/sprites-advantage.png') -10px -90px;
      position: absolute;
      max-width: 100%;
    }
  
    .clock::before {
      content: '';
      display: block;
      width: 58px;
      height: 60px;
      background: url('../assets/images/sprites-advantage.png') -90px -10px;
      position: absolute;
      max-width: 100%;
    }
  
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #292929;
      padding-top: 24px;
      padding-bottom: 7px;
    }
  
    article {
      font-size: 16px;
      font-weight: 400;
      color: #666;
      padding: 0 12px 0 12px;
    }
  
    .circle {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 50px;
    }
  
    .circle-small {
      width: 10px;
      height: 10px;
      background: #dadada;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
    }
  
    .circle-big {
      width: 20px;
      height: 20px;
      background: #dadada;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      margin: 0 5px 0 5px;
    }
  
    .card {
      display: flex;
      flex: 1;
    }
  }
  
  .review {
    h1 {
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight: 700;
      color: #292929;
    }
  
    ul {
      display: flex;
      background-color: #F8FAF9;
      margin-bottom: 0.94rem;
    }
  
    li {
      padding: 2.63rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      &:nth-child(1) {
        padding-right: 0;
      }
    }
  
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: #292929;
    }
  
    article {
      padding-top: 1.69rem;
      padding-bottom: 2.38rem;
      padding-right: 6.25rem;
      font-size: 1rem;
      font-weight: 400;
      color: #666;
    }
  
    p {
      font-size: 1.13rem;
      font-weight: 700;
      color: #292929;
    }
  
    .clicker {
      display: flex;
      justify-content: center;
    }
  
    .users img {
      height: 4.63rem;
      width: 4.63rem;
      border-radius: 50px;
      margin-right: 0.38rem;
    }
  }
  
  .edge-delivery {
    background: url(../assets/images/form-background.png) no-repeat;
    background-size: cover;
  }
  
  .delivery {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 2.81rem;
    }
  
    .delivery-form {
      display: flex;
    }
  }
  
  .delivery-form__row {
    display: flex;
  }
  
  .delivery-form__label {
    flex: 1;
    margin-right: 17px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .delivery-form__input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 18px 0 18px 12px;
    border-radius: 4px;
  }
  
  .delivery-form__col {
    flex: 1;
    margin-right: 27px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .delivery-form__name {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 6px;
    padding-top: 11px;
  }
  
  .delivery {
    .pay {
      display: flex;
      padding-top: 38px;
      padding-bottom: 19px;
  
      p {
        padding-left: 10px;
        padding-right: 16px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }
    }
  
    .call {
      display: flex;
      padding-bottom: 48px;
  
      p {
        padding-left: 10px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }
    }
  
    .active-btn {
      display: flex;
      align-items: center;
    }
  
    .btn {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 18px 35px;
      border-radius: 100px;
      background-color: #e01f3d;
      border: none;
      cursor: pointer;
    }
  
    .clear {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      padding-left: 15px;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }