@import url("../css/normalize.css");
@import "variables.scss";
@import "media.scss";
@import "header.scss";
@import "hamburger.scss";
@import "advantage.scss";
@import "buying.scss";
@import "team.scss";
@import "review.scss";
@import "work.scss";
@import "delivery.scss";
@import "maps.scss";
@import "fullscreen-menu.scss";
@import "footer.scss";