body {
    font-family: 'Play', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}
.edge-header {
    background-color: #f5f5f5;
}
.container {
    border: 1px solid pink;
    margin: 0 auto;
    max-width: 915px;
}
header {
    display: flex;
    align-items: center;
    padding-top: 24px;
}
header div:nth-child(2) {
    flex: 6;
}
header .logo {
    padding-right: 38px;
}
header nav li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 27px;
}
header nav a {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    font-family: 'Alegreya Sans', sans-serif;
}
header address img {
    padding-right: 6px;
}
header address a {
    color: #292929;
    font-family: Play;
    font-style: normal;
    font-weight: normal;
}
.content {
    position: relative;
    max-width: 400px;
}
.content h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 94px;
    padding-bottom: 22px;
    color: #292929;
}
.content p {
    font-size: 21px;
    font-weight: 400;
    color: #292929;
    padding-bottom: 54px;
}
.content a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 41px;
    border-radius: 100px;
    background-color: #e01f3d;
}
.content::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/headphone.png');
    background-repeat: no-repeat;
    top: 40px;
    left: 424px;
    height: 489px;
    width: 489px;
}
.description {
    display: flex;
    align-items: center;
    margin-top: 92px;
    padding-bottom: 70px;
}
.description .ear {
    height: 41px;
    width: 145px;
    margin-right: 20px;
}
.description .ear::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -10px -10px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
}
.description .battery {
    height: 41px;
    width: 145px;
    margin-right: 20px;
}
.description .battery::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -71px -10px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
}
.description .plug {
    height: 41px;
    width: 145px;
    margin-right: 20px;
}
.description .plug::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../assets/images/sprites-header.png') -10px -71px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
}
.description p {
    margin-left: 52px;
}
.advantage-header {
    text-align: center;
    margin: 0 auto;
    max-width: 593px;
    padding-top: 101px;
    padding-bottom: 62px;
}
.advantage h1 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 18px;
}
.advantage p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.advantage ul {
    display: flex;
    justify-content: space-between;
}
.advantage li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantage li:last-child {
    padding-right: 0;
}
.advantage .icon {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
	height: 128px;
	background: #f2f5f4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    position: relative;
}
.advantage .battery::before {
    content: '';
    display: block;
    width: 60px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -10px -10px;
    position: absolute;
}
.advantage .sound::before {
    content: '';
    display: block;
    width: 53px;
	height: 47px;
    background: url('../assets/images/sprites-advantage.png')  -10px -90px;
    position: absolute;
}
.advantage .clock::before {
    content: '';
    display: block;
    width: 58px;
	height: 60px;
    background: url('../assets/images/sprites-advantage.png')  -90px -10px;
    position: absolute;
}
.advantage h3 {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 7px;
}
.advantage article {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    max-width: 250px;
    padding-bottom: 98px;
}

.advantage .circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.advantage .circle-small {
    width: 10px;
	height: 10px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.advantage .circle-big {
    width: 20px;
	height: 20px;
	background: #dadada;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 0 5px 0 5px;
}
.edge-buying {
    background-color: #f8faf9;
}
.buying ul {
    display: flex;
}
.buying .picture {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.buying .square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #9a9a9a;
    height: 91px;
    width: 91px;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 25px;
}
.buying .square::before {
    content: "";
    display: block;
    position: absolute;
    height: 42px;
    width: 42px;
    background: url(../assets/images/gear.png) no-repeat;
}
.buying h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: #292929;
    padding-bottom: 24px;
}
.buying article {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding-bottom: 27px;
}
.buying .outline li {
    padding-right: 86px;
}
.buying .outline li:last-child {
    padding-right: 0;
}
.buying .outline title {
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.buying .outline .value {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.buying .total {
    padding-top: 24px;
    padding-bottom: 124px;
}
.buying .total li {
    display: flex;
    align-items: center;
}
.buying .total .amount {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: #151515;
    padding-right: 13px;
}
.buying .total a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 41px;
    border-radius: 100px;
    background-color: #e01f3d;
}




.team ul {
    display: flex;
    justify-content: space-between;
}
.team h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #292929; 
    padding-top: 73px;
    padding-bottom: 53px;
}
.team .people {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 142px;
}
.team p {
    font-size: 18px;
    font-weight: 700;
    color: #292929;
}
.team .triangle {
    margin-top: 3px;
    margin-left: 4px;
    width: 0;
	height: 0;
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
	border-top: 9px solid red;
}





.edge-colors {
    background: url(../assets/images/baba.png);
    height: 652px;
    background-size: 1500px;
    background-position-y: center;
    background-position-x: right;
    position: relative;
}
.colors h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #fff; 
    padding-top: 115px;
    
}
.edge-colors .lines {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: rotate(-90deg);
    height: 102px;
    width: 652px;
    right: -73px;
    bottom: 275px;
}
.edge-colors .one {
    background: #999;
    padding: 29px 0 30px 34px;
}
.edge-colors .two {
    background: #151515;
    padding: 29px 0 30px 34px;
}
.edge-colors .three {
    background: #e01f3c;
    padding: 29px 0 30px 34px;
}
.edge-colors h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff; 
}





.review h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 32px;
    font-size: 48px;
    font-weight: 700;
    color: #292929;
}
.review ul {
    display: flex;
    background-color: #F8FAF9;
    margin-bottom: 15px;
}
.review li {
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review li:nth-child(1) {
    padding-right: 0;
}
.review h3 {
    font-size: 24px;
    font-weight: 700;
    color: #292929;
}
.review article {
    padding-top: 27px;
    padding-bottom: 38px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.review p {
    font-size: 18px;
    font-weight: 700;
    color: #292929;
}
.review .clicker {
    display: flex;
    justify-content: center;
    padding-bottom: 63px;
}
.review .users img {
    height: 74px;
    width: 74px;
    border-radius: 50px;
    margin-right: 6px;
}

.edge-work {
    background-color: #F8FAF9;
}
.work {
    text-align: center;
}
.work h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 58px;
    padding-bottom: 44px;
    font-size: 48px;
    font-weight: 700;
    color: #292929;
}
.work img {
    padding-bottom: 106px;
}



.edge-delivery {
    background: #181818;
}
.delivery h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 58px;
    padding-top: 68px;
}
.delivery .delivery-form {
    display: flex;
}
.delivery .fio {
    flex: 1;
}
.delivery .comment {
    flex: 1;
}
.delivery .fio .name {
    display: flex;
    padding-bottom: 11px;
}
.delivery .fio .name .blank {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 17px;
}
.delivery .fio .name .blank:last-child {
    padding-right: 0;
}
.delivery .fio p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .fio .form-fow {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 18px 0 18px 12px;
}
.delivery .fio .street {
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;
}
/* .delivery .fio .home {
    display: flex;
} */
.delivery .fio .home .blank {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 17px;
}
.delivery .fio .home .blank:last-child {
    padding-right: 0;
}
.delivery .comment {
    display: flex;
    flex-direction: column;
    padding-left: 27px;
}
.delivery .comment div {
    display: flex;
}
.delivery .comment p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.delivery .comment textarea {
    padding: 18px 0 18px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: 152px;
}
.delivery .comment .pay {
    display: flex;
    padding-top: 38px;
    padding-bottom: 19px;
}
.delivery .comment .pay p {
    padding-left: 10px;
    padding-right: 16px;
}
.delivery .comment .call {
    display: flex;
    padding-bottom: 48px;
}
.delivery .comment .call p {
    padding-left: 10px;
}
.delivery .comment .active-btn {
    display: flex;
    align-items: center;
    padding-bottom: 85px;
}
.delivery .comment .btn {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 41px;
    border-radius: 100px;
    background-color: #e01f3d;
}
.delivery .comment .clear {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-left: 15px;
}















.edge-maps {
    background: url(../assets/images/map.png) no-repeat;
    width: 1100px;
    height: 652px;
    background-position: center;
    background-size: cover;
} 

footer {
    display: flex;
}
footer div div {
    padding-bottom: 18px;
}
footer address {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 3px;
}
footer a {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
}







footer nav li {
    display: inline-block;
    
}
footer .icon {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
footer .icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    transition: .3s;
}
footer .icon:hover:after {
    opacity: 0;
}
footer .telegram:after {
    background: url('../assets/images/sprites-footer.png')  -122px -66px;
}
footer .vk:after {
    background: url('../assets/images/sprites-footer.png')  -10px -122px;
}
footer .facebook:after {
    background: url('../assets/images/sprites-footer.png')  -10px -10px;
}
footer .instagram:after {
    background: url('../assets/images/sprites-footer.png')  -10px -66px;
}
footer .icon:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
footer .icon:hover:before {
    opacity: 1;
}
footer .telegram:before {
    background: url('../assets/images/sprites-footer.png')  -122px -10px;
}
footer .vk:before {
    background: url('../assets/images/sprites-footer.png')  -66px -122px;
}
footer .facebook:before {
    background: url('../assets/images/sprites-footer.png')  -66px -10px;
}
footer .instagram:before {
    background: url('../assets/images/sprites-footer.png')  -66px -66px;
}