body {
    font-family: 'Play', sans-serif;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
  }
  
  .edge-colors {
    background: url(../assets/images/baba.png);
    height: 652px;
    background-size: 1500px;
    background-position-y: center;
    background-position-x: right;
    position: relative;
  }
  
  .colors h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    padding-top: 112px;
  }
  
  .edge-colors {
    .lines {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transform: rotate(-90deg);
      height: 102px;
      width: 652px;
      right: -73px;
      bottom: 275px;
    }
  
    .one {
      background: #999;
      padding: 29px 0 30px 34px;
    }
  
    .two {
      background: #151515;
      padding: 29px 0 30px 34px;
    }
  
    .three {
      background: #e01f3c;
      padding: 29px 0 30px 34px;
    }
  
    h2 {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      letter-spacing: normal;
    }
  }