body {
    font-family: 'Play', sans-serif;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
  }
  
  .team {
    ul {
      display: flex;
      justify-content: space-between;
    }
  
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 700;
      color: #292929;
      padding-top: 73px;
      padding-bottom: 52px;
    }
  
    .people {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 19px;
      margin-bottom: 142px;
    }
  
    p {
      font-size: 18px;
      font-weight: 700;
      color: #292929;
    }
  
    .triangle {
      margin-top: 3px;
      margin-left: 4px;
      width: 0;
      height: 0;
      border-left: 4.5px solid transparent;
      border-right: 4.5px solid transparent;
      border-top: 9px solid red;
    }
  }